{% extends 'base.html.twig' %}

{% block body %}
    <h1>Weather forecast system</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet, at culpa cum dicta ducimus eius facere laborum, minima molestias mollitia omnis pariatur quaerat quia, repellat tenetur unde veniam voluptatibus.</p>

{% endblock %}

{% block title %}Weather forecast{% endblock %}